body {
    font-family: Arial, sans-serif;
    background:#e5e5e5;
    text-align:center;
}

.container {
    width:700px;
    margin:auto;
}

h1 {
    font-size:32px;
}

.panel {
    background:white;
    padding:15px;
    margin:15px;
    border-radius:10px;
}

#game {
    display:grid;
    grid-template-columns:repeat(4,100px);
    gap:15px;
    justify-content:center;
}

.card {
    width:100px;
    height:100px;
    background:white;
    border:3px solid black;
    border-radius:15px;
    font-size:35px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition:.3s;
}

.card:hover {
    transform:scale(1.1);
}

#progress {
    width:100%;
    background:#ddd;
    height:20px;
}

#bar {
    height:20px;
    width:0%;
    background:green;
}

button {
    padding:10px 20px;
    margin:10px;
}